:root {
  --mike: rgb(206, 24, 60);
  --chris: rgb(31, 68, 142);
  --josh: rgb(121, 1, 161);
  --pat: rgb(141, 11, 2);
  --chadd: rgb(0, 0, 0);
  --bren: rgb(110, 189, 0);
  --mark: rgb(124, 61, 10);
  --eric: rgb(255, 102, 0);
  --worb: rgb(148, 45, 217);
  --gini: rgb(155, 128, 7);

  --none: rgb(137, 137, 137);
}


body {
  font-family: "Palanquin", serif;
  margin: 0;
  background-color: #282828;
  align-items: center;
  box-sizing: border-box;
  font-size: 16px;
}

.container {
  text-align: center;
  width: 100%;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
  color: #ffffff;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 0px;
}

p {
  color: #ffffff;
}

.map-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 95%;
  margin-top: 20px;
}

.area {
  display: flex;
  flex-direction: column;
  /* border: 4px solid #fff; */
  border-radius: 20px;
  display: flex;
  width: 30vw;
  position: relative;
}

.area h2 {
  margin: 0px;
  text-transform: uppercase;
}

.area p {
  font-family: "Kanit", sans-serif;
  margin: -5px;
}

.zones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.zone {
  width: 32%;
  height: 60px;
  padding: 40px 5px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #868484;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 1s ease;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* border: 1px solid #fff; */
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.zone span:first-child {
  font-family: "Kanit", sans-serif;
  pointer-events: none;
}

.zone span:last-child {
  z-index: 5;
}

.shad {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: -5;
}

.shadm {
  background-color: rgb(164, 19, 48);
}

.shadc {
  background-color: rgb(18, 41, 88);
}

.shadj {
  background-color: rgb(71, 0, 115);
}

.shadp {
  background-color: rgb(84, 7, 1);
}

.shadd {
  background-color: rgb(4, 1, 54);
}

.shadb {
  background-color: rgb(61, 104, 1);
}

.shadpc {
  background-color: rgb(64, 31, 5);
}

.shade {
  background-color: rgb(128, 51, 0);
}

.shadg {
  background-color: rgb(95, 79, 4);
}

.shadw {
  background-color: rgb(85, 25, 124);
}

.shadnone {
  background-color: rgb(101, 101, 101);
}


.color-dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: rgb(62, 62, 62);
  border-radius: 5px;
  -webkit-box-shadow: 4px 9px 59px -14px rgb(0, 0, 0);
  -moz-box-shadow: 4px 9px 59px -14px rgb(0, 0, 0);
  box-shadow: 4px 9px 59px -14px rgb(0, 0, 0);
  z-index: 20;
  width: 200px;
}

.color-option {
  display: flex;
  align-items: center;
  width: 95%;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  transition: opacity 0.3s ease;
  padding: 5px;
  background-color: rgb(61, 61, 61);
}

.color-label {
  flex: 1;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

#clearButton {
  padding: 10px 10px;
  background-color: red;
  color: white;
  border: 1px solid #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-size: .5rem;
  width: 80px;
}

#clearButton:hover {
  background-color: darkred;
}

.clear {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}

.clear p {
  font-size: .5rem;
  color: white;
}

.buttons-top {
  display: flex;
  gap: 15px;
}

.legend-btn {
  padding: 10px 10px;
  font-family: "Kanit", sans-serif;
  background-color: rgb(87, 53, 99);
  color: white;
  border: 1px solid #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  width: 80px;
  margin-top: 10px;
}

.legend-btn:hover {
  background-color: rgb(17, 7, 31);
}

.legend-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  font-size: 1rem;
  width: 100%;
}

.legend-box p {
  font-family: "Kanit", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  margin: 0 0 0 0;
  border-radius: 20px;
  height: 60px;
  padding: 5px;
  line-height: 15px;
  position: relative;
}

.mike {
  background-color: var(--mike);
}

.chris {
  background-color: var(--chris);
}

.josh {
  background-color: var(--josh);
}

.pat {
  background-color: var(--pat);
}

.chadd {
  background-color: var(--chadd);
}

.bren {
  background-color: var(--bren);
}

.mark {
  background-color: var(--mark);
}

.eric {
  background-color: var(--eric);
}

.gini {
  background-color: var(--gini);
}

.worb {
  background-color: var(--worb);
}

.none {
  background-color: var(--none);
}


#scores {
  background-color: #5b5b5b;
  margin: 30px 0 10px 0;
  padding-bottom: 20px;
  border-radius: 20px;
  width: 285px;
}

#scores h2 {
  border-bottom: 2px solid #fff;
  margin-top: 0;
}

.scores-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #5b5b5b;
  color: #ffffff;
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
}

.pts {
  padding: 10px;
}

.pts:nth-child(odd) {
  background-color: #787878;
}

.pts:first-child {
  background-color: rgb(255, 196, 0);
  color: black;
}

.pts:nth-last-child(-n + 2) {
  background-color: rgb(121, 25, 25);
}

.pts:last-child {
  background-color: rgb(71, 14, 14);
}

/* RULES SHIT */
/* #rules-btn {
  padding: 10px 10px;
  font-family: "Kanit", sans-serif;
  background-color: rgb(225, 225, 225);
  color: rgb(255, 0, 0);
  border: 1px solid #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  width: 80px;
  margin-top: 10px;
}

#rules-btn:hover {
  background-color: rgb(138, 138, 138);
} */

#rules {
  display: none;
  width: 60%;
  max-height: 80vh;
  padding: 20px;
  background-color: #000000;
  color: #fff;
  text-align: left;
  border: 1px solid #ddd;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  overflow-y: auto;
}

#rules button,
#rules h2 {
  text-align: center;
}

#close-btn {
  padding: 10px 10px;
  font-family: "Kanit", sans-serif;
  background-color: rgb(178, 2, 2);
  color: white;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  width: 40px;
  margin-top: 10px;
  margin-left: 90%;
  position: sticky;
  top: 10px;
  border: none;
  -webkit-box-shadow: -2px 5px 19px -5px #000000;
  box-shadow: -2px 5px 19px -5px #000000;
}

#close-btn:hover {
  background-color: rgb(71, 2, 2);
}

/* button test stuff   */

.pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(to left,
      hsl(340deg 100% 16%) 0%,
      hsl(340deg 100% 32%) 8%,
      hsl(340deg 100% 32%) 92%,
      hsl(340deg 100% 16%) 100%);
}

.front {
  display: block;
  position: relative;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.purp-front {
  background-color: rgb(87, 53, 99);
  background: hsl(276, 100%, 47%);
}

.purp-edge {
  background: linear-gradient(to left,
      hsl(283, 100%, 16%) 0%,
      hsl(281, 100%, 32%) 8%,
      hsl(279, 100%, 32%) 92%,
      hsl(285, 100%, 16%) 100%)
}

.top-btn {
  padding: 5px 5px;
  font-size: 1rem;
  ;
}

.pushable:hover {
  filter: brightness(110%);
}

.pushable:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}


/* RADAR */
.chart {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 60vw;
  height: 80vh;
  align-items: center;
}

#charts {
  margin-left: 15px;
  background-color: #282828;
  z-index: 10;
}

.legendBox {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 15px;
  padding: 20px;
  width: 80vw;
}

.lgd-btn {
  color: #fff;
  font-weight: 800;
  border-radius: 15px;
  border: none;
  padding: 10px;
  font-family: "Palanquin", serif;
  transition: opacity 0.3s ease, max-height 0.3s ease;
  overflow: hidden;
  opacity: 1;
  display: inline-block;
}

.lgd-btn.hidden {
  display: none;
  opacity: 0;
  max-height: 0;
  pointer-events: none;
}

.lgd-btn.hidden2 {
  display: none;
  opacity: 0;
  max-height: 0;
  pointer-events: none;
}

.hidden3 {
  display: none;
  opacity: 0;
  max-height: 0;
  pointer-events: none;
}

.hiddenaffil {
  display: none;
  opacity: 0;
  max-height: 0;
  pointer-events: none;
}

.hiddenrole {
  display: none;
  opacity: 0;
  max-height: 0;
  pointer-events: none;
}

.util {
  display: flex;
  gap: 5px;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.util button:hover {
  filter: brightness(2.0);
  filter: blur(1.8);
  box-shadow: inset 0 0 4px #ffffff;
  transition: filter 0.2s, box-shadow 0.2s;
}

#filter-toggle-box {
  display: none;
}

#filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-top: 5px;
}

.flex-break {
  flex-basis: 100%;
  height: 0;
}


.legendBox button:hover {
  box-shadow: inset 0 0 4px #fff;
  transition: filter 0.2s, box-shadow 0.2s;
}

.filter {
  color: #c4c4c4;
  background-color: #2c5d9d;
  font-weight: 800;
  border-radius: 5px;
  border: none;
  padding: 1px 7px;
  font-family: "Palanquin", serif;
}

#filters .filter:last-child {
  background-color: rgb(16, 141, 213);
}

#affiliations {
  background-color: #206b3a;
  margin-top: 10px;
}

#affildropdown,
#dropdowns,
#roles {
  margin: 10px;
}

#rolepicker {
  background-color: #912d74;
}

button.selected {
  filter: brightness(2.0);
  box-shadow: inset 0 0 4px #ffffff;
  transition: filter 0.2s, box-shadow 0.2s;
  color: #000;
}

select {
  border: none;
  background-color: #a55c03;
  color: #c4c4c4;
  border-radius: 5px;
  padding: 1px 7px;
  font-family: "Palanquin", serif;
  font-weight: 800;
}

select:focus {
  border: none;
}

.writeup {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  margin-right: 10px;
}

.writeblock,
.writenull {
  background: #d4d4d4;
  color: #000;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  text-align: left;
}

.writeblock:last-child {
  margin-bottom: 60px;
}

.writeblock h3 {
  color: #474747;
  margin: 0;
  margin-bottom: -10px;
  text-transform: uppercase;
}

.writeblock p {
  color: #474747;
  margin: 0;
  line-height: 22px;
  margin-bottom: 10px;
}

.prole {
  font-size: .8rem;
}


.writenull {
  margin: 15px 10px;
}

#resetData {
  background-color: #700000;
}

.info-btn {
  background-color: #a26b27;
}

.filtertog-btn {
  background-color: #189d1f !important;
}

a:link {
  color: orange;
}

a:visited {
  color: darkgoldenrod;
}

a:hover {
  color: yellow;
}

a:active {
  color: orange;
}

a {
  text-decoration: none;
  font-weight: bolder;
}

.shout {
  font-size: .8rem;
  font-style: oblique;
  width: 45%;
  margin: 0 0 20px 0;
  line-height: 15px;
}

/* SIDE DRAWER */
.info-drawer {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.info-drawer a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.info-drawer a:hover {
  color: #f1f1f1;
}

.info-drawer .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  z-index: 5;
}


/* Media Queries */

@media only screen and (max-width: 800px) {
  .area {
    flex-direction: column;
    width: 80%;
  }

  .zone {
    font-size: 1rem;
    width: 100%;
    margin: 5px 0;
    position: relative;
  }

  .legendBox {
    width: 95vw;
  }

  .chart {
    width: 100vw;
  }

  .shout {
    width: 80%;
  }

  #filters {
    padding: 5px;
  }

  .info-drawer {
    padding-top: 48px;
  }

  .info-drawer a {
    font-size: 18px;
  }

  .buttons-top {
    flex-wrap: wrap;
    justify-content: center;
  }
}