body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

h3 {
  margin: 0;
}

#controls {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  justify-content: center;
  gap: 5px;
}

#container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

#left,
#right {
  width: 442px;
  min-height: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 1080px;
  overflow-y: auto;
}

#right {
  align-items: flex-end;
}

.character-wrapper {
  margin-bottom: 5px;
  display: flex;
}

.character {
  width: 275px;
  height: 100px; 
  padding: 8px;
  border: 6px solid green;
  border-radius: 8px;
  background-color: rgba(92, 92, 92, 0.7);
  color: #fff;
  display: flex;
  flex-direction: column;
  background-position: center center;
  background-size: cover;
  background-blend-mode: overlay;
  background-blend-mode: darken;
}


.character.flipped {
  border-color: red;
}

.act-marker {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #00eb3f;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  bottom: -10px;
}

.left-char .act-marker {
  right: -10px;
  left: auto;
}

.right-char .act-marker {
  left: -10px;
  right: auto;
}

.utilbtns {
  display: flex;
  justify-content: center;
}


.bar-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  height: 36px;
}

.bar-label {
  font-weight: bold;
  margin-bottom: 4px;
}

button {
  margin: 2px;
  padding: 4px 8px;
  cursor: pointer;
}

#controls select {
  color: #ffffff;
  background-color: #505050;
  font-weight: 800;
  border-radius: 5px;
  border: none;
  padding: 5px 7px;
  font-family: "Palanquin", serif;
}

#extractselect {
  color: #ffffff;
  background-color: #930000;
  font-weight: 800;
  border-radius: 5px;
  border: none;
  padding: 1px 7px;
  font-family: "Palanquin", serif;
    width: 150px;
    height: 30px;
}

#secureselect {
  color: #ffffff;
  background-color: #002a93;
  font-weight: 800;
  border-radius: 5px;
  border: none;
  padding: 1px 7px;
  font-family: "Palanquin", serif;
  width: 150px;
    height: 30px;
}

.side-buttons {
  display: flex;
  flex-direction: column;
  width: 116px;
}

.side-buttons button {
  border: none;
}


.left-buttons {
  margin-right: 8px;
}

.right-buttons {
  margin-left: 8px;
}

.health-bar,
.power-bar {
  height: 15px;
  width: 100%;
  overflow: hidden;
  margin-top: 5px;
}

.health-bar {
  background-color: darkred;
}

.power-bar {
  background-color: rgb(0, 203, 0);
}

.block-container {
  display: flex;
  gap: 3px;
  align-items: center;
}

.block {
  width: 15px;
  height: 15px;
}

#powerPhaseBtn {
  background-color: #01c532;
  font-weight: 800;
  border-radius: 5px;
  border: none;
  padding: 1px 7px;
  font-family: "Palanquin", serif;
}

#updateBtn {
  background-color: #ff9900;
  font-weight: 800;
  border-radius: 5px;
  border: none;
  padding: 1px 7px;
  font-family: "Palanquin", serif;
}

.button-group {
  gap: 2px;
  margin: 2px 0;
}

.bar-container {
  margin-top: 5px;
}


.button-group button {
  padding: 3px 6px;
  border: none;
  color: white;
  font-weight: bold;
}

.button-group.red button {
  background-color: #b21a1a;
}

.button-group.green button {
  background-color: #1ab240;
}

.button-group button:hover {
  filter: brightness(1.2);
}

/* SCOREBOARD STYLES */

#scorecontrol {
  width: 65%;
}

#scorecontrol form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

#playercontrols {
  display: flex;
  flex-direction: column;
}

#p1, #p2 {
  display: flex;
  flex-direction: row;
  align-content: center;
  text-align: center;
  height: 28px;
  margin-bottom: 5px;
}

#p1score, #p2score {
  padding: 10px;
}

#crisis {
  display: flex;
  gap: 5px;
}

.objtoggle {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 4px;
}

.objtoggle button:first-child {
  background-color: red;
  color: #fff;
}

.objtoggle button:last-child {
  background-color: blue;
  color: #fff;
}

.side-buttons button {
  background-color: purple;
  color: #fff;
}